@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
	/* Cores do tema */
	
	--cor-claro: #FFFFFF; 
	--cor-cinza: #E0F2FE; 
	--cor-cinza-enfase: #575a5e; 
	--cor-cinza-escuro-descricoes: #6B7280; 
	--cor-azul-claro: #38BDF8; 
	--cor-laranja-warning: #FDBA74;
	--cor-verde-enfase: #86EFAC; 
	--cor-grad-fundo: from-white to-blue-50;
	--cor-grad-fundo-home: linear-gradient(360deg, #856179 0%, #DC707E 30%, #F7B098 70%,#9ACDC5 100%);
	--cor-preto: #111827;
	--cor-transparente: #ffffff00;
	


	/* Variáveis do botão de menu */
	
	--hamburger-btn-padding: 8px; /* Padding do botão de menu */
	--hamburger-btn-size: 32px;	/* Tamanho do botão de menu */
	--hamburger-btn-gap: 4px; /* Espaçamento das linhas do botão de menu */


	/* Fontes */

	--font-titulos: 'Playfair Display', serif; /* Uso: Títulos principais, frases de destaque, hero section. */
	--font-primaria: 'Inter', sans-serif; /* Uso: Parágrafos, textos de apoio, descrições. */
	--font-secundaria: 'Open Sans', sans-serif; /* Uso: Textos secundários, legendas, informações adicionais. */
}

/* Reset básico */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/************** Estilos Gerais **************/

body,
html {
	margin: 0;
	height: 100%;
}

body {
	overflow-x: hidden;
	background: var(--cor-grad-fundo);
}

body.no-scroll {
  overflow: hidden;
}

.conteudo {
	background-color: var(--cor-laranja-warning);
	text-align: justify;
	padding: 50px 80px;
}

p {
	font-family: var(--font-primaria);
	font-size: 0.8em;
	text-align: justify;
	letter-spacing: 0.05em;
	line-height: 1.5;
	margin: 1.3em;
	
}

h1 {
	font-family: var(--font-titulos);
	font-size: 1em;
	padding: 0.8em 0 0.4em 0;
	color: var(--cor-preto);
	text-align: center;
	text-transform: uppercase;
}

h2 {
	font-family: var(--font-secundaria);
	font-size: 0.7em;
	color: var(--cor-cinza-escuro-descricoes);
	text-align: center;
	margin-bottom: 20px;
}

/* HEADER */

header {
	display: flex;
	justify-content: space-between;
	padding: 16px;
	background: var(--cor-laranja-warning) url(../imagens/img-baloes05.jpg) no-repeat center center / cover;
	color: var(--cor-claro);
	align-items: center;
}


.header_titulo {
	font-size: 0.5em;
	color: var(--cor-transparente);
	text-align: center;
	text-transform: uppercase;
}

.logo {
	width: 80px;
	height: auto;
}

.button {
	border-radius: 4px;
	border: none;
	background-color: var(--cor-grad-fundo);
	transition: filter 300ms ease-out;
	cursor: pointer;
}

.button:hover {
	filter: brightness(1.2);
}

.btn-hamburger {
	width: var(--hamburger-btn-size);
	height: var(--hamburger-btn-size);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--hamburger-btn-gap);
	flex-direction: column;
	background-color: var(--cor-claro);
}

.btn-hamburger i {
	height: 2px;
	width: calc(var(--hamburger-btn-size) - 2 * var(--hamburger-btn-padding));
	background-color: var(--cor-cinza-enfase);
	border-radius: 4px;
	transition: transform 150ms ease-in-out;
}

.btn-hamburger.active i {
	position: absolute;
}

.btn-hamburger.active i {
	transform: rotate(45deg);
}

.btn-hamburger.active i:nth-of-type(2) {
	transform: rotate(-45deg);
}

nav {
	width: 100vw;
	min-height: 100dvh;
	background: var(--cor-grad-fundo-home);
	position: absolute;
	top: 0;
	left: 100vw;
	padding: 16px;
	transition: left 150ms ease-out;
}

nav.active {
	left: 0;
}

nav ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	gap: 4px;
}

nav li.close-button {
	align-self: flex-end;
}

nav a {
	display: block;
	width: 100%;
	color: var(--fundo-claro);
	text-decoration: none;
	padding: 8px 12px;
	border-radius: 8px;
	transition: background 300ms ease-in-out;
}

nav a:hover {
	background: var(--fg);
}

/* Efeito Parallax */

.caixa1,
.caixa2,
.caixa3,
.caixa4,
.caixa5 {
	position: relative;
	height: 100%;
	/*opacity: 0.7;*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.caixa1 {
	background-image: url(../imagens/imagem1.jpg);
}

.caixa2 {
	background-image: url(../imagens/imagem2.jpg);
}

.caixa3 {
	background-image: url(../imagens/imagem3.jpg);
}

.caixa4 {
	background-image: url(../imagens/imagem8.jpg);
}

.caixa5 {
	background-image: url(../imagens/imagem7.jpg);
}

/* Formatação de conteúdo */

.conteudo-titulo {
	position: absolute;
	left: 0;
	top: 45%;
	width: 100%;
	text-align: center;
}

.conteudo-titulo span.titulo {
	color: var(--fundo-claro);
	background-color: var(--fundo-escuro);
	padding: 18px;
	font-size: 25px;
	letter-spacing: 5px;
	text-transform: uppercase;
}

@media screen and (min-width: 768px) {
	.btn-hamburger {
		display: none;
	}

	nav {
		position: initial;
		min-height: auto;
		width: auto;
		background: none;
		padding: 0;
	}

	nav ul {
		flex-direction: row;
	}
}