@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

:root {
	/* Cores do tema */

	--cor-claro: #FFFFFF;
	--cor-cinza: #E0F2FE;
	--cor-cinza-enfase: #575a5e;
	--cor-cinza-escuro-descricoes: #6B7280;
	--cor-azul-claro: #38BDF8;
	--cor-laranja-warning: #FDBA74;
	--cor-verde-enfase: #86EFAC;
	--cor-grad-fundo: from-white to-blue-50;
	--cor-grad-fundo-dia: radial-gradient(circle at 80% 15%, #E0F2FE 0%, #38BDF8 100%, #FFFFFF 100%);

	--cor-grad-fundo-new: linear-gradient(29deg, #87CEEB 0%, /* Azul céu claro */
			#A8D5BA 40%, /* Verde claro natureza */
			#FFD59E 70%, /* Laranja suave do pôr do sol */
			#FFB6B9 100% /* Rosa pastel do entardecer */
		);
	--cor-grad-fundo-img:linear-gradient(135deg, rgba(135,206,235,0.6), rgba(168,213,186,0.6), rgba(255,213,158,0.6), rgba(255,182,185,0.6)),
  url('../imagens/img-baloes06.jpg') center/cover no-repeat;
	--cor-grad-fundo-entardecer: linear-gradient(360deg, #856179 0%, #DC707E 30%, #F7B098 70%, #9ACDC5 100%);
	--cor-preto: #111827;
	--cor-transparente: #ffffff00;



	/* Variáveis do botão de menu */

	--hamburger-btn-padding: 8px;
	/* Padding do botão de menu */
	--hamburger-btn-size: 32px;
	/* Tamanho do botão de menu */
	--hamburger-btn-gap: 4px;
	/* Espaçamento das linhas do botão de menu */


	/* Fontes */

	--font-titulos: 'Playfair Display',
		serif;
	/* Uso: Títulos principais, frases de destaque, hero section. */
	--font-primaria: 'Inter',
		sans-serif;
	/* Uso: Parágrafos, textos de apoio, descrições. */
	--font-secundaria: 'Open Sans',
		sans-serif;
	/* Uso: Textos secundários, legendas, informações adicionais. */
}

/* Reset básico */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/************** Estilos Gerais **************/

body,
html {
	margin: 0;
	min-height: 100vh;
	background: var(--cor-grad-fundo-new);
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	overflow-x: hidden;
}

body.no-scroll {
	overflow: hidden;
}

/* .conteudo {
	background-color: var(--cor-laranja-warning);
	text-align: justify;
	padding: 50px 80px;
} */

p {
	font-family: var(--font-primaria);
	font-size: 0.93em;
	text-align: justify;
	letter-spacing: 0.01em;
	line-height: 1.7;
	margin: 2.5em;
}

h1 {
	font-family: var(--font-titulos);
	font-size: 1.4em;
	margin: 1em;
	color: var(--cor-preto);
	text-align: center;
	text-transform: uppercase;
}

h2 {
	font-family: var(--font-secundaria);
	font-size: 1.2em;
	margin: 0 1.3em;
	color: var(--cor-cinza-escuro-descricoes);
	text-align: center;
}

/****************** HEADER ******************/

header {
	display: flex;
	height: 12vh;
	justify-content: space-between;
	padding: 16px;
	background: var(--cor-laranja-warning) url(../imagens/img-baloes05.jpg) no-repeat center center / cover;
	color: var(--cor-claro);
	align-items: center;
}


.header_titulo {
	font-size: 0.5em;
	color: var(--cor-transparente);
	text-align: center;
	text-transform: uppercase;
}


.button {
	border-radius: 4px;
	border: none;
	background-color: var(--cor-cinza-escuro-descricoes);
	transition: filter 300ms ease-out;
	cursor: pointer;
}

.button:hover {
	filter: brightness(1.2);
}

.btn-hamburger {
	width: var(--hamburger-btn-size);
	height: var(--hamburger-btn-size);
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	gap: var(--hamburger-btn-gap);
	flex-direction: column;
	background-color: var(--cor-claro);
}

.btn-hamburger i {
	height: 2px;
	width: calc(var(--hamburger-btn-size) - 2 * var(--hamburger-btn-padding));
	background-color: var(--cor-cinza-enfase);
	border-radius: 4px;
	transition: transform 150ms ease-in-out;
}

.btn-hamburger.active i {
	position: absolute;
}

.btn-hamburger.active i {
	transform: rotate(45deg);
}

.btn-hamburger.active i:nth-of-type(2) {
	transform: rotate(-45deg);
}

nav {
	width: 100vw;
	min-height: 100dvh;
	background: var(--cor-grad-fundo-img);
	position: absolute;
	top: 0;
	left: 100vw;
	padding: 16px;
	transition: left 150ms ease-out;
}

nav.active {
	left: 0;
}

.menu-lista {
	display: flex;
	flex-direction: column;
	list-style: none;
	gap: 10px;
}

.menu-lista-item {
	font-family: var(--font-secundaria);
	font-size: medium;
	padding: 5px 20px;
}

nav li.close-button {
	align-self: flex-end;
}

nav a {
	display: block;
	width: 40%;
	color: var(--cor-claro);
	font-weight: 600;
	text-decoration: none;
	padding: 8px 12px;
	border-radius: 8px;
	transition: background 300ms ease-in-out;
}

nav a:hover {
	background: var(--cor-cinza-enfase);
}

/****************** Section home ******************/

.section_principal-titulo {
	color: var(--cor-preto);
}

.section_principal-subtitulo {
	color: var(--cor-cinza-enfase);
	font-size: 1.03em;
	margin-bottom: 1em;
}

.section_principal-lista {
	list-style: none;
	padding: 0;
}

.section_principal-lista-item {
	font-family: var(--font-primaria);
	font-size: 0.8em;
	color: var(--cor-preto);
	margin: 0.5em 4.5em 0.5em 4.3em;
	padding: 1.2em 1em 0 2em;
	list-style-type: square;
}


.section_principal-separador {
	border: none;
	width: 80%;
	height: 2px;
	margin: auto;
	padding: 0.2em;
}

.section_principal-cta {
	font: italic 1em var(--font-secundaria);
	text-align: center;
	color: var(--cor-preto);
	margin: auto;
	padding: 0.5em;
}


/****************** Footer ******************/

footer {
	background-color: var(--cor-preto);
	color: var(--cor-claro);
	padding: 1em 0;
}

footer a {
	color: var(--cor-claro);
	text-decoration: underline;
}

footer a:hover {
	text-decoration: none;
}

.footer-text {
	text-align: center;
	font-family: var(--font-primaria);
	font-size: 0.8em;
	color: var(--cor-claro);
	margin: 0.5em 0;
	padding: 1em;
}



@media screen and (min-width: 768px) {
	.btn-hamburger {
		display: none;
	}

	nav {
		position: initial;
		min-height: auto;
		width: auto;
		background: none;
		padding: 0;
	}

	nav ul {
		flex-direction: row;
	}
}