@charset "UTF-8";
@import url(estilo.css);

:root {

	/* Cores do tema */

	--cor-fundo: #e0e0e0;
	--cor-claro: #FFFFFF;
	--cor-cinza: #a7a7a7;
	--cor-cinza-enfase: #686868;
	--cor-preto: #111827;
	--cor-transparente: #ffffff00;
	--cor-azul-claro: #38BDF8;
	--cor-laranja-warning: #df7300;
	--cor-verde-enfase: #86EFAC;
	--cor-grad-fundo: from-white to-blue-50;
	--cor-grad-fundo-dia: radial-gradient(circle at 80% 15%, #E0F2FE 0%, #38BDF8 100%, #FFFFFF 100%);
	--cor-grad-fundo-new: linear-gradient(29deg, #87CEEB 0%,
			/* Azul céu claro */
			#A8D5BA 40%,
			/* Verde claro natureza */
			#FFD59E 70%,
			/* Laranja suave do pôr do sol */
			#FFB6B9 100%
			/* Rosa pastel do entardecer */
		);
	--cor-grad-fundo-img: linear-gradient(135deg, rgba(135, 206, 235, 0.6), rgba(168, 213, 186, 0.6), rgba(255, 213, 158, 0.6), rgba(255, 182, 185, 0.6)),
		url('../imagens/img-baloes06.jpg') center/cover no-repeat;
	--cor-grad-fundo-entardecer: linear-gradient(360deg, #856179 0%, #DC707E 30%, #F7B098 70%, #9ACDC5 100%);


	/* Variáveis do botão de menu */

	--hamburger-btn-padding: 8px;
	/* Padding do botão de menu */
	--hamburger-btn-size: 32px;
	/* Tamanho do botão de menu */
	--hamburger-btn-gap: 4px;
	/* Espaçamento das linhas do botão de menu */


	/* Fontes */

	--font-titulos: 'Oswald', serif;
	/* Uso: Títulos principais, frases de destaque, hero section. */

	--font-subtitulo: 'Lato', sans-serif;
	/* Uso: Subtítulos, chamadas para ação. */

	--font-primaria: 'Roboto', sans-serif;
	/* Uso: Parágrafos, textos de apoio, descrições. */

	--font-secundaria: 'Open Sans', sans-serif;
	/* Uso: Textos secundários, legendas, informações adicionais. */
}


/* Reset básico */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: var(--cor-fundo);
}

/************** SECTION BALOES-INTRODUCAO **************/



/************** SECTION BALOES-IMG **************/

.baloes-img > figure > img {
	width: 100%;
	height: auto;
	margin-bottom: 1em;
}
figcaption {
	font-size: 0.875em;
	color: var(--cor-cinza-enfase);
	text-align: center;
	margin: -1em 0 2em 0;
}



/************** SECTION BALOES-CONTEUDO **************/


